<div class="flex gap-2">
  <div>displaying 20 on 0 items</div>
  
  <div class="flex gap-2">
    <div class="w-[34px] flex justify-center items-center border p-1  h-[34px] rounded-full">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M440-240 200-480l240-240 56 56-183 184 183 184-56 56Zm264 0L464-480l240-240 56 56-183 184 183 184-56 56Z"/></svg>
    </div>
    <div class="w-[34px] flex justify-center items-center border p-2  h-[34px] rounded-full">1</div>
    <div>
      <svg class="w-[34px] flex justify-center items-center border p-1  h-[34px] rounded-full" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="M383-480 200-664l56-56 240 240-240 240-56-56 183-184Zm264 0L464-664l56-56 240 240-240 240-56-56 183-184Z"/></svg>
    </div>
  </div>
</div>